name: Update tf2-competitive version

on:
  workflow_dispatch:
    inputs:
      tf2_competitive_version:
        type: string
        description: 'tf2-competitive image version'
        required: true

jobs:
  update-tf2-competitive-version:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set git identity
        run: |
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git config --global user.name 'github-actions[bot]'

      - name: Update tf2-competitive version
        run: |
          sed -i 's/TF2_COMPETITIVE_VERSION=.*/TF2_COMPETITIVE_VERSION=${{ github.event.inputs.tf2_competitive_version }}/' Dockerfile

      - name: Create pull request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "fix(deps): update tf2-competitive version to ${{ github.event.inputs.tf2_competitive_version }}"
          title: "fix(deps): update tf2-competitive version to ${{ github.event.inputs.tf2_competitive_version }}"
          body: Update tf2-competitive version to ${{ github.event.inputs.tf2_competitive_version }}
          branch: update-tf2-competitive-${{ github.event.inputs.tf2_competitive_version }}
          delete-branch: true
          reviewers: garrappachc
